version: '3.9'

services:
  backend:
    build: .
    container_name: course-backend
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - mongo
      - redis
    environment:
      - PORT=3000
      - MONGO_URI=mongodb://mongo:27017/coursesdb
      - REDIS_URL=redis://redis:6379
    volumes:
      - .:/app
      - /app/node_modules

  mongo:
    image: mongo:6
    container_name: course-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7
    container_name: course-redis
    restart: always
    ports:
      - "6379:6379"

volumes:
  mongo_data:
