.course-card {
  background: linear-gradient(135deg, #ddc3c3, #dadde4); /* Soft gradient with calming colors */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  transition: 0.5s;
  


  &:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  }

  .course-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
  }



  h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
  }

  p {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
  }

    .common-btn {
  background: #4f46e5;      /* Same purple color */
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s ease;
}

.common-btn:hover {
  background: #4338ca;
}
  
}





